<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/assets/img/logo.webp" sizes="15x30">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a2ef69d7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/index.css">
    <title>PhinSmith</title>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="grey darken-3 ">
        <div class="nav-wrapper ">
            <a href="#!" class="brand-logo"><img src="/assets/img/logo.webp"
                    style="width:50px;height:40px; margin: 1.5px 0px 75px 50px;" alt="logo"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/discover">Discover</a></li>
                <li><a href="/aboutus">About Us</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/aboutus">About Us</a></li>
    </ul>
    <!-- end navigation -->