*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
.parallax-container.moped{
    height: 79vh;
    width: 100%;
  }

nav {
  height: 45px;
  line-height: 3rem;
} 

.drinks {
  height: 100%;
}

.header {
  margin-top: 5rem;
}