<% include ../partials/Header %>
<div class="carousel carousel-slider center">
    <div class=" carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">Discover</a>
    </div>
    <a class="carousel-item" href="#one!"><img src="/assets/img/background4.jpg"></a>
    <a class="carousel-item" href="#one!"><img src="/assets/img/background5.jpg"></a>
    <a class="carousel-item" href="#one!"><img src="/assets/img/background6.jpg"></a>
    <a class="carousel-item" href="#one!"><img src="/assets/img/background7.jpg"></a>
</div>

<% include ../partials/Footer %>