<% include ../partials/Header %>
<div id="index-banner" class="parallax-container moped">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text text-lighten-2">PhinSmith</h1>
            <div class="row center">
                <h5 class="header col s12 white-text "></h5>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button"
                    class="btn-large waves-effect waves-light teal lighten-1">FIND YOUR CUP</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="./assets/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<!-- Section  -->
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center brown-text"><span style="font-size: .9em; color: Teal;"><i
                                class="fas fa-leaf"></i></span></h2>
                    <h5 class="center">Tea</h5>
                    <p class="light">Peach Blossoms are a sign of good fortune during the Lunar New Year
                        celebration. It also rings in the new harvesting season for Sapa, in Lao Cai province.
                        Famous for its beautiful terraced rice fields and lush rolling mountains, Sapa also produces
                        some of the most delicious wild peaches in the world.
                        Our Sapa Peach Iced Tea is a refreshing homage to Vietnam's famous Tra Dao. Made from White
                        Tea infused with Peach and a hint of Lemon Grass, its the perfect refresher for Spring.</p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center brown-text"><span style="font-size: .9em; color: Teal;"><i
                                class="fas fa-mug-hot"></i></span></h2>
                    <h5 class="center">Coffee</h5>

                    <p class="light left-align">Traditionally, every cup of Caphe Sua Da is meticulously
                        slow-dripped through phins to extract all the wonderful flavors and crema of the beans.
                        Then, sweetened with condensed milk and beatened together to create a foamy cap, it is
                        served over plenty of ice to combat the tropic heat. Meant to be sipped slowly over time and
                        over a good conversation, Caphe Sua Da is the quintessential coffee break beverage.
                        At Phin Smith we continue that tradition here, and we hope you find a good conversation over
                        a delicious cup of our Caphe Sua Da. Cheers!</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- container2 -->

<!-- hello -->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h5 class="header center white-text">Enjoy</h5>
            <div class="row center">
                <h1 class="header col s12 white-text ">HAND-DRIP
                </h1>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="./assets/background1.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna
                    fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra
                    ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam
                    eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi
                    massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non
                    tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    Curae;</p>
            </div>
        </div>
    </div>
</div>

<% include ../partials/Footer %>